.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 2px solid #2b2b2b;
  background-color: #000000;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #161616;
}

.food {
  background-color: #00e244;
  z-index: 10;
  border-color: #00e244;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #00e244;
  animation: glowfood 1.5s linear infinite alternate;
}

.body {
  background-color: #3842ff;
  border-color: #3842ff;
}

.head {
  background-color: #203cff;
  border-color: #203cff;
  box-shadow: 0px 0px 2px 1px #203cff;
}

button {
  font-weight: bold;
  background-color: #ebc800;
  border: none;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  color: #000000;
  outline: none;
  margin: 10px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #f8d820;
}

.score {
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0;
}

.game-over {
  font-size: 24px;
  font-weight: bold;
  color: #e51919;
  letter-spacing: 8px;
  margin-bottom: 0;
}

.keys-container button {
  background-color: #4f4f4f;
  width: 100px;
  color: white;
}

.keys-container button:hover {
  background-color: #666666;
}

.keys-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.keys-container>.key-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

@keyframes glowfood {
  to {
    box-shadow: 0px 0px 12px 6px #00e244a8;
  }
}

@media only screen and (max-width: 600px) {
  .cell {
    width: 4px;
    height: 4px;
  }

  .keys-container {
    visibility: visible;
  }
}